html,body,.ui-content,#nc-container,#maincontent{
    font-family: "Oxygen", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 1.25;
}

legend,#flip-grid-label,#flip-log-label, #flip-refresh-label{
    font-size: 10pt;
}

.leaflet-container { /*change background color*/
    background: #000;
}

/* styling for grouped barcharts*/
.axis path,
.axis line{
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #fff;
    stroke:none;
}

text {
    fill: #fff;
    stroke:none;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

img.leaflet-tile {
    -webkit-filter: saturate(20%) invert(100%) brightness(50%);
}

#total {
    position: fixed;
    top: 1em;
    right: 1em;
    padding: .25em;
}

div.ui.panel {
    background-color: rgba(100,100,100,0.3);
}

#location {
    background-color: black;
}

div.ui {
    color: rgba(255,255,255,0.9);
    padding: 3px;
}

g.color-legend text {
    fill: white;
}

path.domain {
    fill: none;
    stroke: white;
}

/* add class="paper" to the html element to render it for printing purposes.
 ******************************************************************************/

html.paper {
    background-color: white;
}

html.paper div.leaflet-container { /*change background color*/
    background: white;
}     

html.paper div.ui.panel {
    background-color: rgba(255,255,255,0.9);
}

html.paper #location {
    background-color: white;
}

html.paper div.ui {
    color: rgba(0,0,0,1);
    padding: 3px;
}

html.paper div.ui svg text {
    fill: black;
    stroke: none;
}

html.paper path.domain {
    fill: none;
    stroke: black;
}

html.paper img.leaflet-tile {
    -webkit-filter: saturate(30%);
}

hr {
    height: 1px;
    color: rgba(192, 192, 192, 0.25);
    background: rgba(192, 192, 192, 0.25);
    font-size: 0;
    border: 0;
}
